
.hero {
padding: 6.5rem 0rem 6.5rem 0rem;
   position: relative ;
height: auto;

}

.heading>h1 {
 font-family: 'Eudoxus Sans';
font-style: normal;
font-weight: 700;
font-size: 130px;
position: relative;
z-index: 10;
margin: 0rem 4rem;
color: #FFFFFF;
}
.heading>h1:nth-of-type(2) {
    letter-spacing: 15px;
}

.cover>img {
  height: 27rem;
    width: 87%;
   position: absolute;
    background: linear-gradient(97.86deg, #A509FF 0%, #34ACC7 53.65%, #A134C7 100%);
    right: 0%;
    transform: translateY(-9%);
    z-index: 0;
    object-fit: cover;
    border-radius: 140px 0px 0px 42px;

}
.stamp>img {
    width: 9rem;
    margin: 0rem 4rem;
    position: absolute;
    z-index: 10;
    right: 3%;
    bottom: -21.9rem;
  
}

@media screen and (max-width:992px) {
    .heading>h1 {
        font-size: 80px;
    }
    .heading>h1:nth-of-type(2) {
        letter-spacing: 12px;
    }

    .stamp>img {
        margin: 0rem 2rem;
        bottom: -16rem;
    }
    .cover>img {
        height: 20rem;
        transform: translateY(-6%);
    }
}


@media screen and (max-width:768px) {

     .social-icons>ul {
         top: 0%;
      gap: 1.5rem;
         margin: 0rem 2rem;
     }
     .cover>img {
        height: 20rem;
     }
     .stamp>img {
      bottom: -15rem;
        width: 8rem;
     }
}

@media screen and (max-width:600px) {
    .heading>h1 {
        font-size: 60px;
     }
     .heading>h1:nth-of-type(2) {
         letter-spacing: 8px;
     }
}

@media screen and (max-width:467px) {
    .heading>h1 {
        font-size: 50px;
    }
   .stamp>img {
    width: 6rem;
   }
}

@media screen and (max-width:404px) {
    .heading>h1 {
        font-size: 40px;
    }
    .heading>h1:nth-of-type(2) {
        letter-spacing: 6px;
    }
}



@media screen and (max-width:300px) {
.heading>h1 {
    font-size: xx-large;
}
}

