
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: "Eudoxus Sans", sans-serif;*/
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  
}
.App {
  text-align: center;
overflow-y: hidden;
overflow-x: hidden;
 background-color: rgb(26 35 46);
 opacity: 1;
 position: relative;
 font-family: 'Poppins', sans-serif;
}

